---
const stats = [
  {
    name: 'Years',
    value: '1',
  },
  {
    name: 'Paid project',
    value: '3+',
  },
  {
    name: 'Completed Projects',
    value: '10+',
  },
  {
    name: 'Awards',
    value: "'1'" ,
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.jpg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">My mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              My journey in software development began in high school, igniting a passion for crafting digital solutions that make a difference. Despite the challenges and detours along the way, my determination remains unwavering.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              My mission is crystal clear: to leverage my extensive knowledge in full-stack development to create innovative, impactful software solutions. Whether it's designing user-friendly interfaces, optimizing databases, or crafting elegant code, I'm committed to excellence in every project.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              I firmly believe technology has the power to transform industries, enhance lives, and foster positive change. Continuously embracing emerging technologies and staying at the forefront of industry trends, I'm dedicated to both technical prowess and effective collaboration. Together, we can shape a tech-driven future that leaves a lasting impact on the world.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
