---
import Layout from '../layouts/Layout.astro';
---

<Layout
description="Mfanyikazi Abroad - projects"
title="Project · Olive"
>
<body class="bg-gray-100">
<section class="container mx-auto py-8">
    <div class="bg-100 shadow-xl rounded-lg overflow-hidden">
        <img src="/public/assets/mfanyikazi.png" alt="Mfanyikazi Abroad" class="max-w-full h-auto object-cover object-center">
        <div class="p-6">
            <h2 class="text-xl font-semibold mb-2">Mfanyikazi Abroad</h2>
            <p class="text-gray-700 mb-4">Mfanyikazi Abroad is my final year school project, the main purpose of the app is to monitor Kenyan Job Seekers who plan to and work in middle east countries, Over the year there has been gender based violence, mistreatment, death reported about Kenyan job seeks and this has risen due to luck of an application that will be used to monitor the Kenyan job seekers. Secondly, rogues agencies that lie to desparate Kenyans who have no clue about Human righs laws,  Internal workers law hence they end up being coned and also taken to rogue employers.Mfanyikazi aims at solving this problem that has been almost a decade in the history of Kenyans.</p>
            <div class="flex justify-between">
                <a href="/pricing" onclick="window.history.back();" class="text-blue-500 hover:underline">Go Back</a>
                <a href="https://mfanyikazi--abroad.vercel.app/" target="_blank" class="text-blue-500 hover:underline">View Live</a>
            </div>
        </div>
    </div>
</section>
</body>
</Layout>


