---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Ebook Mpesa - projects."
  title="Project · Olive"
>
<body class="bg-gray-100">
<section class="container mx-auto py-8">
    <div class="bg-100 shadow-xl rounded-lg overflow-hidden">
        <img src="/public/assets/ebook.png" alt="Mfanyikazi Abroad" class="max-w-full h-auto object-cover object-center">
        <div class="p-6">
            <h2 class="text-xl font-semibold mb-2">Ebook Mpesa</h2>
            <p class="text-gray-700 mb-4">i created  a full stack app using php, mysql and some bootstrap to come up with an app for Kenyan Mpesa agents that will enable them record data of the deposited and widhrwal money which were done by their clients. <strong>for demo ; username:demo <br> password:@Demo123</strong> </p>
            <div class="flex justify-between">
                <a href="/pricing" onclick="window.history.back();" class="text-blue-500 hover:underline">Go Back</a>
                <a href="https://e-bookmpesa.great-site.net/" target="_blank" class="text-blue-500 hover:underline">View Live</a>
            </div>
        </div>
    </div>
</section>
</body>
</Layout>
