<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Olive Bishop is an experienced software developer with a passion for the field dating back to high school. While he initially worked on a school voting system project using MS Access and Visual Basic, he pursued further education in ICT through a technical college. After achieving distinction in HTML5, CSS3, PHP, and MYSQL, she progressed to a diploma in Software Development, where he gained expertise in various areas such as responsive web design, JavaScript, React, Vue, Laravel, databases, Git, Github, APIs, and mobile development with Java and Kotlin. Olive is committed to continuous learning to stay updated on emerging technologies. In his spare time, he enjoys cooking, playing basketball, chess, and writing poetry.
        </p>
        <a
          href="/about"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about me
        </a>
      </div>
    </div>
  </div>
</section>
