---
const services = [
  {
    step: '01',
    name: 'Web Development',
    description:
      'I create awesome websites and also the fix technical aspects, such as its performance and capacity.',
  },
  {
    step: '02',
    name: 'Problem Solving',
    description:
      'I find desired solutions to a problem, and applying best practices to achieve the best and befitting result.',
  },
  {
    step: '03',
    name: 'Responsive Design',
    description:
      'Using the best technologies and frame works to make the best responsive website that spreads across all device.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">What I do</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
